extends layout

block content
  div.main
    h1 Real Tech Interviews

    h3 A simple project for sharing and practicing technical interview questions from real companies

    p Subscribe to recieve weekly interview questions and solutions in your inbox
      a(href='') Subscribe 

    p Submit your real-life interview questions to help keep this project alive
      a(href='') interview form

    p Or help by sharing this with others
      a(href='https://www.twitter.com' target='_blank') twitter

